@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

body {
    background-color: lightskyblue;
}

main {
    background-color: azure;
    border-radius: 8px;
    padding: 20px;
    width: 91%;
    margin: 41px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.add-form {
    display: flex;
    margin-bottom: 35px;
    gap: 17px;
    width: 100%;
}

input {
    width: 100%;
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(227, 227, 227);
    font-size: 1rem;
    font-weight: 500;
}

button[type='submit'] {
    background-color: yellowgreen;
    color: whitesmoke;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button[type='submit']:hover {
    background-color: rgb(142, 190, 47);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    padding: 7px 15px;
    border: 1px solid rgb(227, 227, 227);
    text-align: center;
}

td {
    color: #333;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

select {
    width: 100%;
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #efefef;
}

select:hover {
    background-color: #dadada;
}

.btn-action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: whitesmoke;
    cursor: pointer;
}

.btn-action:nth-child(1) {
    background-color: orange;
    margin-right: 5px;
}

.btn-action:nth-child(1):hover {
    background-color: rgb(239, 155, 0);
}

.btn-action:nth-child(2) {
    background-color: rgb(255, 77, 77);
}

.btn-action:nth-child(2):hover {
    background-color: rgb(237, 71, 71);
}